/** style **/

body {
	margin: 0 auto;
	padding: 0 auto;

}

div#buttonCenter {
	margin: 0 auto;
	margin-top: 10%;
	width: 320px;
	height: 300px;
	text-align: center

}

#button {
	width: 200px !important;
	height: 70px !important;
	margin-top: 40%;
	cursor: pointer;
	padding: 12px;
	font-size: 14pt;
	border:1px solid blue;
	background-color:yellow;
	color: green;
	box-shadow: 2px 2px 2px 2px #ccc;
	border-radius: 10px;
}

.none-decoration{
	text-decoration: none;
}